/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
}

header{
    background-color: #8abae1;
    height: 700px;
}

h1{
    font-weight: 700;
    font-size: 4em;
    /* width: 100%; */
    margin-bottom: 40px;
}

h2{
    font-weight: 700;
    font-size: 2.4em;
    margin-bottom: 40px;
}

h3{
    font-size: 1.5em;
}

/* HEADER- NAVIGATION BAR */
nav{
    padding: 15px 20px 25px 20px;
   
}

/* HEADER- NAVIGATION LINKS. General Settings */
nav li{
    display: inline-block;
    margin: 0 18px;
}

/* HEADER- NAVIGATION BAR> LOGO */
nav img{
    vertical-align: text-bottom;
}

/* HEADER- NAVIGATION LINKS. General Settings */
nav li> a{
    /* Style and Shape */
    color: black;
    text-decoration: none;
    font-weight: 600;
} 

/* SECTIONS */
section{
    margin-top: 200px;
}

/* ------Repeated Parts of Code------ */
/* BUTTONS. General Settings */
[type="button"]{
    cursor: pointer;
    height: 28px;
}

/* TYPE 1 BUTTONS */
.type_1_button{
    padding: 0 20px;
    border: none;
}

/* TYPE 2 BUTTONS */
.type_2_button{
    width: 100%;
    border: none;
}

/* TYPE 3 BUTTONS */
.type_3_button{
    padding: 0 20px;
    border: 1px solid black;
}

.type_4_button{
    padding: 0 40px;
    border: none;
}

/* BLUE BUTTONS */
.blue_button{
    background-color: #008eff;
    color: white;
}

/* WHITE BUTTONS */
.white_button{
   background-color: white;
}

/* FLOAT */
.float_left{
    float: left;
}

.float_right{
    float: right;
}

/* RESPONSIVENESS */
.responsive{
    width: 100%;
    margin: 0 auto;
    min-width: 1190px;
    max-width: 1300px; 
}

/* ABSOLUTE CENTERING */
.absolute_centering{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* CLEARFIX */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* HEADER CONTENT */
.content{
    display: inline-block;
    width: 38%; 
}

/* SECTION WRAPPER */
.side_padding{
    padding: 0 110px;
}

/* BORDER BOTTOM Effect */
.border_bottom{
    margin-top: 25px;
    border-bottom: 2px solid lightgray;
    width: 50px;
}

/* COLORS */
.background_color_1{
    background-color: #a2d39b;
}
.background_color_2{
    background-color: #61082b;
}
.background_color_3{
    background-color: #0093ce;
}
.background_color_4{
    background-color: #ff1c1c;
}
.background_color_5{
    background-color: #d5001f;
}
.background_color_6{
    background-color: #b4d0e7;
}
.background_color_7{
    background-color: #0d2481;
}
.background_color_8{
    background-color: #ffd830;
}

/* HEADER- NAVIGATION CONTENTS Left and right */
div.navigation_content{
    display: inline-block;
} 

/* SECTION 1- COLUMNS */
div.column{
    height: 1000px;
    border: 1px solid lightgray;
    /* Give a Width and a Margin */
    /*margin-right=x
    calc(33.3333% - y px);
    y=x-(number of boxes per row/x) */
    width:  calc(33.33% - 30px);
    margin-right: 45px; 
}

/* SECTION 1- INFO 1 */
div.info_1{
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
}

/* SECTION 1- INFO 2 3 */
div.info_2,
div.info_3{
    padding: 25px 20px 0 20px;
}

/* SECTION 1- All the CHILDREN of INFO 2: */
div.info_2>*{
    margin-bottom: 10px;
}

/* SECTION 3- OPERATION TOOL */
div.operation_tool{
    width: calc(33.33% - 36px);
    margin: 21px 54px 21px 0;
}

/* SECTION 4- CUSTOMER BLOCK CONTAINER  */
div.customer_block_container{
    width: 400px;
}

/* SECTION 4- CUSTOMER BLOCKS */
div.customer_block{
    width: 200px;
    height: 200px; 
    float: left;
    position: relative;  
}

/* SECTION 4- CUSTOMER LOGO */
svg.customer_logo{
    width: 120px;
    fill: white;
}

/* SECTION 4- BIG CUSTOMER BLOCK */
div.big_customer_block{
    width: calc(100% - 800px);
    min-width: 500px;
    background-color: #eaeaea;
    height: 400px;
    padding: 25px;
}

/* SECTION 4- CUSTOMER CONTAINER WRAPPER */
div.customer_container_wrapper{
    min-width: 1300px;
}

/* SECTION 4- WIDE CUSTOMER BLOCK */
div.wide_customer_block{
    height: 300px;
    width: 100%;
}

/* SECTION 5- DROPDOWN MENU */
select.dropdown_menu{
    width: 100%;
    /* height: 40px; */
    padding: 30px 30px;
    border: none;
    border-top: 1px solid lightgray ;
    font-weight: bold;
}

/* SECTION 1- CHECKBOXES> SPAN */
div.checkboxes > span{
    margin-right: 20px;
}

/* SECTION 1- INFO LIST> LI */
ul.info_list>li{
    list-style-type: none;
    margin: 20px 0 ;
}

/* SECTION 1 INFO LIST> ICON */
li>i.fa-check{
    color: #008eff ;
}

/* SECTION 2> IMAGE */
#partner_section img{
    width: 50%;
}

/* SECTION 3- OPERATION TOOL> IMAGE */
div.operation_tool>img{
    width: 100%;
}

/* SECTION 1- All the COLUMNS in the central place */
div.column:nth-of-type(3n){
    margin-right: 0;
}

/* SECTION 3- All the OPERATION TOOLS in the central place */
div.operation_tool:nth-of-type(3n){
    margin: 21px 0;
}

/* SECTION 4- BIG CUSTOMER BLOCK> P */
div.big_customer_block>p{
    margin: 30px 0;
}

/* SECTION 4- BIG CUSTOMER BLOCK> P */
div.big_customer_block>p{
    margin: 30px 0;
}

/* SECTION 4- WIDE CUSTOMER BLOCK>DIV */
div.wide_customer_block>div{
    width: 50%;
    padding: 90px 0 0 110px;
    color: #61082b;
}

/* SECTION 4- BIG CUSTOMER BLOCK> CUSTOMER LOGO  */
div.big_customer_block .customer_logo{
    fill: black;
}

/* SECTION 5- The last of DROPDOWN MENU */
select.dropdown_menu:last-of-type{
    border-bottom: 1px solid lightgray;
} 

/* SECTION 1- Some elements in INFO 2 have a bigger margin */
div.info_2>p.info_price_per,
div.info_2>p.info_funtions{
    margin-bottom: 35px;
}

/* HEADER- NAVIGATION WRAPPER */
#nav_wrapper{
    background-color: white;
    border-bottom: 1px solid lightgray;
}
 
/* HEADER- HEADER CONTENT WRAPPER */
#header_content_wrapper{
    margin-top: 90px;
}

/* SECTION 1- COLUMNS WRAPPER */
#columns_wrapper{
    width: 100%;
    margin-top: 30px;
}

/* SECTION 1- HORIZONTAL COLUMN */
#horizontal_column{
    margin-top: 80px;
    width: 100%;
    border: 1px solid lightgray;
    /* height: 300px; */
}

/* SECTION 2- INFO PARTNER> All the elements */
#info_partner>*{
    margin-top: 20px;
}

/* SECTION 2- INFO PARTNER */
#info_partner{
    width: 40%;
}

/* SECTION 4- CUSTOMER TITLE */
#customer_title{
    width: 70%;
    min-width: 1100px;
    margin-bottom: 30px;
}

/* HEADER- HEADER CONTENT> IMAGE */
#header_content_wrapper>img{
    width: 58%;
    vertical-align: top;
}

/* HEADER- HEADER CONTENT- The First P */
#header_content p:first-child{
    margin-bottom: 20px;
    padding-right: 60px;
}

/* HEADER- HEADER CONTENT- The Second P */
#header_content p:nth-child(3){
    margin: 10px 0 30px 0;
}

/* HEADER- HEADER CONTENT- The Third P */
#header_content p:nth-child(4){
    font-size: 50px
}

/* SECTION 1- HORIZONTAL COLUMN> INFO 2 */
#horizontal_column > div.info_2 {
    width: 70%;
}

/* SECTION 1- HORIZONTAL COLUMN> INFO 2> BUTTON */
#horizontal_column > div:nth-child(3) {
    width: 28%;
    margin-top: 25px;
}




















