/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
}

header{
    background-color: #8abae1;
}

/* NAVIGATION BAR */
nav{
    padding: 15px 20px 25px 20px;
   
}

/* NAVIGATION LINKS. General Settings */
nav li{
    display: inline-block;
    margin: 0 18px;
}

/* NAVIGATION BAR> LOGO */
nav img{
    vertical-align: text-bottom;
}

/* NAVIGATION LINKS. General Settings */
nav li> a{
    /* Style and Shape */
    color: black;
    text-decoration: none;
    font-weight: 600;
} 

/* NAVIGATION CONTENTS Left and right */
nav>div.navigation_content{
    display: inline-block;
} 

/* BUTTONS. General Settings */
input[type="button"]{
    cursor: pointer;
    border: none;
    padding: 0 30px;
    height: 28px;
    color: white;
    background-color: #008eff;
}

/* NAVITATION BAR,HEADER> Short BUTTONS */
input.short_button{
    padding: 0 20px;
}

/* FLOAT */
.float_left{
    float: left;
}

.float_right{
    float: right;
}

.responsive{
    width: 100%;
    margin: 0 auto;
    min-width: 1170px;
    max-width: 1400px; 
}

/* CLEARFIX */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}


/* NAVIGATION WRAPPER */
#nav_wrapper{
    background-color: white;
    border-bottom: 1px solid lightgray;
}